<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="field">
    <label for="email">Email</label>
    <input
      formControlName="email"
      id="email"
      name="email"
      placeholder="Your email"
      type="email"
      required
    />
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      name="password"
      placeholder="Your password"
      type="password"
      required
    />
  </div>
  <button class="button button_primary button_auto_size">Sign In</button>
</form>
<div class="auth-link">Are you not steal with us? Let’s <span routerLink="../sign-up">Sign Up</span></div>
