<div class="content">
  <div class="methods">
    <div class="methods__inner">
      <div
        *ngFor="let method of methods"
        [ngClass]="{ method_active: method.type === settings.method }"
        (click)="onMethod(method)"
        class="method"
      >
        <div class="method__name">{{ method.name }}</div>
        <div class="method__image"></div>
      </div>
    </div>
  </div>

  <div class="words-amount field">
    <label for="words-amount">How many words?</label>
    <input
      [ngModel]="settings.wordsAmount"
      (ngModelChange)="onChangeWordsAmount($event)"
      min="1"
      id="words-amount"
      name="wordsAmount"
      type="number"
      required
    />
  </div>

</div>
